/* Header Styling */
header {
  background: url(https://psd.hackeryou.com/assignment1-assets/arora/asset-3.jpg);
  background-size: cover;
  background-position: right;
  height: 100vh;
}

/* Navigations */
.mobileMenuIcon {
  display: none;
  i {
    padding: 10px;
  }
}

//general link styling
.home li {
  display: inline-block;
  a {
    text-decoration: none;
    font-size: 2rem;
    padding: 15px 20px;
    line-height: 29px;
  }
}

//styling the desktop and mobile navs
.home {
  .desktopNavHeader{
    padding: 15px 20px;
    margin-left: 8%;
    a {
      color: $apricot;
      &:hover,
      &:focus {
        color: $black;
        background: $apricot;
      }
    }
  }
  .mobileNavHeader {
    background: $apricot;
    width: 30%;
    transition: all 0.45s ease;
    li {
      margin-top: 0;
      display: block;
      padding: 20px 10px;
    }
    a {
      color: $black;
      padding: 10px;
      &:hover,
      &:focus {
        color: $apricot;
        background: $black;
      }
    }
  }
}

.hidden {
  position: fixed;
  left: -150px;
  top: 50px;
}

.showMe {
  position: absolute;
  left: 0px;
  top: 50px;
}


// .headerFlex
.headerFlex {
  display: flex;
  height: 100%;
}

/* Company name */
.h1Container {
  text-align: right;
  width: 45%;
  h1 {
    color: $apricot;
    font-weight: 300;
    font-size: 4.5rem;
    padding-top: 15%;
  }
}


.nameStart,
.nameEnd {
  color: $white;
  text-transform: uppercase;
  display: block;
  font-family: $italiana;
  font-size: 16.2rem;
}

.nameEnd {
  margin-top: -50px;
}

.nameStart::before,
.nameStart::after {
  content: '-';
}

/* Social Media links */
.socialMedia {
  text-align: center;
  align-self: flex-end;
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 30px;
  i {
    color: $white;
    padding: 10px 5px;
    transform: scale(1.3);
    transition: all 0.2s ease;
    &:hover,
    &:focus {
      transform: scale(1.6);
    }
  }
}

.socialMedia ul:last-child {
  margin-bottom: 20px;
}
