/* Media Queries */
@media (max-width: 800px) {
  html {
    font-size: 40%;
  }
  
  header {
    background: url(https://psd.hackeryou.com/assignment1-assets/arora/asset-2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
  }
  
  .home a {
    font-size: 2.5rem;
  }
  
/*  Main  */
  .about .flexContainer {
    flex-direction: column;
    align-items: center;
  }
  
  .textContainer {
    font-size: 2.4rem;
    width: 100%;
  }
  
  .imgContainer {
    width: 100%;
    margin: 0;
    margin-bottom: 40px;
  }
  
  .imgContainer .mobileImage {
    display: block;
  }
  
  .imgContainer .desktopImage {
    display: none;
  }
  
  .imgContainer img {
    width: 80%;
    margin: 0 auto;
  }
  
  .blogText {
    padding: 0 5px;
  }
  
  section:last-of-type {
    height: 50vh;
  }
  
  .bottomNav {
    width: 20%;
  }
  
  .contactInfo {
    width: 30%;
  }
}

// @media (max-width: 480px) {
//   html {
//     font-size: 30%;
//   }
  
//   .mobileMenu {
//     display: block;
//     text-align: right;
//     padding: 25px 15px;
//   }
  
//   .mobileMenu i {
//     transform: scale(3, 2);
//   }
  
//   .mobileMenu i:hover,
//   .mobileMenu i:focus {
//     color: $apricot;
//   }
  
//   .home {
//     display: none;
//   }
  
//   .h1Container {
//     width: 40%;
//   }
  
//   .socialMedia {
//     visibility: hidden;
//   }
  
// /*  Main  */
//   h2 {
//     text-align: center;
//     font-size: 5rem;
//   }
  
//   .readMore {
//     margin: 0 auto;
//     font-size: 4.5rem;
//   }
  
// /*  about  */
//   .about {
//     height: 120vh;
//   }
  
//   .imgContainer {
//     height: auto;
//     padding-bottom: 20px;
//   }
  
//   .imgContainer .mobileImage {
//     display: block;
//     margin: 10px auto;
//     width: 100%;
//   }
  
//   .desktopImage {
//     display: none;
//   }
  
//   .textContainer {
//     margin-top: 20px;
//   }
  
// /*  about/blog  */
//   .blogP {
//     font-size: 4.2rem;
//   }
  
//   .blogDiv {
//     display: flex;
//     justify-content: center;
//   }
  
// /*  gallery  */
//   .latest {
//     height: 40vh;
//     padding: 40px 0;
//   }
  
//   .collectionContainer a {
//     width: calc(50% - 10px);
//   }
  
//   .collectionContainer a:last-child {
//     display: none;
//   }
  
//   .latest img {
//     width: 100%;
//   }
  
// /*  icons  */
//   .icons {
//     height: 55vh;
//   }
  
//   .icons .flexContainer {
//     flex-direction: column;
//     justify-content: space-evenly;
//   }
  
//   .iconContainer i {
//     padding: 0;
//     padding-bottom: 8px;
//     transform: scale(5);
//   }
  
//   .iconContainer h3 {
//     font-size: 5rem;
//     padding-top: 10px;
//   }
  
// /*  blog  */
//   .mobileImage {
//     display: block;
//   }
  
//   .blog .blogEntry {
//     flex-direction: column-reverse;
//   }
  
//   .blogText, .blogImg {
//     width: 100%;
//   }
  
//   .blogText {
//     padding: 50px 15px;
//   }
  
//   .blogP {
//     margin: 6% 0 15% 0;
//   }
  
// /*  contact  */
//   .section:last-of-type {
//     height: 60vh;
//   }
  
//   .contact {
//     flex-direction: column;
//   }
  
//   .contact h3 {
//     font-size: 4rem;
//   }
  
//   .desktopNav {
//     display: none;
//   }
  
//   .mobileNav {
//     display: block;
//   }
  
//   .mobileNav ul {
//     padding: 35px;
//     display: flex;
//     justify-content: space-between;
//   }
  
//   .mobileNav li {
//     display: inline-block;
//     font-size: 4rem;
//   }
  
//   .mobileNav a {
//     text-transform: none;
//     font-family: $lato;
//   }
  
//   .bottomNav,
//   .subscribe,
//   .contactInfo {
//     width: 100%;
//   }
  
//   .subscribe p:nth-child(2) {
//     font-size: 3rem;
//   }
  
//   .submitContainer {
//     flex-direction: column;
//   }
  
//   form {
//     width: 100%;
//   }
  
//   form input,
//   form button {
//     width: 100%;
//     text-align: center;
//     padding-left: 0;
//     margin: 5px 0;
//     font-size: 3.5rem;
//   }
  
//   .contactInfo {
//     padding: 30px 0;
//     text-align: center;
//   }
  
//   .contactInfo ul {
//     font-size: 2.7rem;
//   }
  
// }