/* Media Queries */
@media (max-width: 965px){ 
  .contact 
  .contactInfo {
    min-width: 250px;
  }
  .bottomNav {
    width: 10%;
  }
  li {
    font-size: 1.6rem;
  }
}


@media (max-width: 800px) {
  header {
    background: url('../assets/asset-2.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    .h1Container {
      width: 65%;
    }
  }

  
/*  Main  */
  .styledPara {
    font-size: 1.5rem;
  }

  .icons .flexContainer {
    justify-content: space-between;
  }

  .iconContainer {
    min-width: 10px;
    h3 {
      font-size: 2rem;
    }
  }

  .blog {
    padding-bottom: 30px;
  }

  .blogImg {
    height: 50%;
    margin: auto 0;
  }

  .blogText {
    padding: 30px 40px;
  }

  .contact {
    flex-direction: column;
    .bottomNav {
      width: 100%;
      padding-bottom: 30px;
      text-align: center;
      li {
        display: inline-block;
        margin: 20px;
        a {
          padding: 20px;
        }
      }
    }
  }

  .contact {
    .subscribe {
      width: 100%;
      padding-bottom: 30px;
      form {
        width: 80%;
        margin: 10px auto;
      }
    }
    .contactInfo {
      width: 100%;
      text-align: center;
    }
  }

  section:last-of-type {
    padding: 70px 0;
  }
}

@media (max-width: 480px) {
  .desktopNavHeader {
    display: none;
  }

  .home .mobileContainer {
    display: block;
  }
  
  .mobileMenuIcon i:hover,
  .mobileMenuIcon i:focus {
    color: $apricot;
  }
  
  header .h1Container {
    margin-top: 200px;
    height: 60%;
    width: 60%;
    .nameStart,
    .nameEnd {
      font-size: 8rem;
      line-height: 140px;
    }
    h1 {
      font-size: 2rem;
    }
  }

  .socialMedia {
    display: none;
  }

  
/*  Main  */
  .styledPara {
    // font-size: 1.2rem;
  }

  h2 {
    text-align: center;
    font-size: 3.3rem;
  }
  
  .about .flexContainer {
    flex-direction: column;
    .imgContainer {
      width: 100%;
    }
    .textContainer {
      width: 100%;
      margin: 15px 0;
    }
  }

  .blogDiv {
    margin: 10px auto;
    .readMore {
      font-size: 2rem;
    }
  }

/*  Gallery  */
  .latest {
    padding: 40px 0;
    .collectionContainer {
      flex-direction: column;
      a {
        width: 100%;
        margin: 10px 0;
      }
    }
  }
  
/*  Icons  */
  .icons .flexContainer {
    flex-direction: column;
    justify-content: space-between;
    li {
      margin: 50px 0;
    }
  }

/*  Blog  */
  .blogEntry,
  .blogEntry:last-of-type {
    flex-direction: column-reverse;
    .blogImg {
      width: 100%;
    }
    .blogText {
      width: 100%;
    }
  }

/*  Contact  */
  .contact {
    .bottomNav ul {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 50px;
      li {
        width: calc(50% - 50px);
        a {
          padding: 15px;
        }
      }
    }
  }
  
  .submitContainer {
    flex-direction: column;
  }

  .contact .subscribe form {
    width: 100%;
    margin-bottom: 50px;
    input,
    button {
      width: 100%;
      padding: 10px;
      text-align: center;
    }
  }
}