/* Main */
section:nth-child(odd) {
  background: $dkBlue;
}

.mobileImage {
  display: none;
}

.styledPara {
  font-size: 1.7rem;
  line-height: 29px;
  margin: 2% 0 6% 0;
}

/* About/HandCrafted */
.about {
  padding: 70px 0;
  .flexContainer {
    flex-direction: row;
    justify-content: space-between;
  }
}

.imgContainer,
.textContainer {
  height: 60%;
  margin: auto 0;
}

.imgContainer {
  width: calc(35% - 35px);
  margin-right: 35px;
  img {
    width: 100%;
  }
}

.textContainer {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  line-height: 29px;
}

/* Latest Collection */
.latest {
  padding: 70px 0;
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h2 {
    margin-bottom: 5%;
  }
}

.collectionContainer {
  display: flex;
  justify-content: space-between;
  a {
    width: calc(33% - 20px);
    transition: all 0.3s ease;
    &:hover {
      transform: scale(1.05);
    }
  }
}

/* Icons */
.icons {
  padding: 80px 0;
  .flexContainer {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}

.iconContainer {
  min-width: 225px;
  text-align: center;
  transition: all 0.3s ease;
  &:hover,
  &:focus {
    transform: scale(1.2);
  }
  a {
    text-decoration: none;
  }
  i {
    color: $apricot;
    padding: 20px;
    padding-bottom: 30px;
    transform: scale(3);
  }
  h3 {
    color: $white;
    font-family: $italiana;
    font-size: 2.8rem;
    text-transform: uppercase;
  }
}

/* Blog */
.blogEntry {
  width: 100%;
  display: flex;
}

.blogEntry:last-of-type {
  flex-direction: row-reverse;
}

.blogImg img {
  max-height: 100%;
}

.blogText,
.blogImg {
  width: 50%;
}

.blogText {
  padding: 50px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Contact Information */
section:last-of-type {
  padding: 100px 0;
}

.contact {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h3 {
    padding: 10px 0;
    font-size: 2.5rem;
  }
  li {
    margin-bottom: 5px;
  }
}

.bottomNav {
  width: 23%;
}

.contactInfo {
  width: 27%;
  min-width: 307px;
  text-align: right;
}

.contact h3,
.bottomNav li,
form button {
  font-family: $italiana;
  text-transform: uppercase;
}

/* bottomNav, subscribe, contactInfo */
.bottomNav a {
  text-decoration: none;
  color: $white;
}

.bottomNav a:hover,
.bottomNav a:focus,
form button:hover,
form button:focus {
  color: $apricot;
}

.subscribe {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 50%;
}

form {
  width: 95%;
  margin-top: 10px;
}

.submitContainer {
  display: flex;
  width: 100%;
}

form input,
form button {
  margin: 0;
  padding: 10px;
  border: none;
}

form input {
  width: 70%;
  padding-left: 35px;
  font-family: $lato;
}

form button {
  background: #000;
  color: $white;
  width: 30%;
}

/* Design Page */
main.designs {
  background: antiquewhite;
}

main.designs div {
  display: flex;
  padding: 20px;
}

main.designs a {
  margin: 20px;
}
